
.introducao-img-mobile{
  display: none;
}
.introducao-bg{
  background-color: #f7f7f7;
}

.introducao h1{
  padding-top: 1rem;
  
}
.introducao p {
  margin-top:  32px;
}
.introducao .btn {
  margin-top: 20px;
}

.introducao {
  display: flex;
  align-items: center;
  background-color: #f7f7f7;
  /* box-sizing: border-box; */
}
.introducao-itens{ 
  margin: 0 auto; 
  padding: 20px;
  background-color: #f7f7f7;

}

.introducao img {
  width: 50vw;
  height: 90vh;
  
  
}
.introducao-itens .btn {
  display: flex;
  /* justify-content: space-between; */
  gap: 20px;
}
.introducao-itens img {
  display: flex;
  margin: 0 auto;
  width: 32px;
  height: auto;
}

@media(max-width:1200px){
  .introducao{
    margin: 0;
    padding: 0;
    /* height: 100vh; */
  }
  .introducao-itens{
    padding: 20px;

  }
  .introducao img {
    width: 50vw;
    height: max-content;
  }
  .introducao-itens img {
    display: flex;
    margin: 0 auto;
    width: 32px;
    height: auto;
  }
}


@media(max-width:1000px){
  .introducao-img {
  display: none;

  }
  .introducao { 
    display: inline;
  }
  .introducao-itens{
    padding: 40px 20px;

  }
  #quem-somos {
    display: none;
  }
  .introducao-img-mobile{
    padding-top: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom,
    #f7f7f7 20% 70%, #121212 70% 100%);
   }
   .introducao-bg .container{
    padding: 0;
   }
   .introducao-img-mobile img{
    width: 90vw;
   }
   .car-1 {
    opacity: 50%;
   }
}

@media(max-width:600px){
  .introducao-itens .btn {
    gap: 10px;
  }
  .introducao h1{
    word-break: break-all;
  }

  .introducao-bg .botao{
    width: 70%;
  }
}