.lancamento-bg {
  background-color: #111111;
  padding: 60px 0;
  
}

.lancamentos-grid {
  padding: 20px;
  display: grid;
  grid-template-areas:
    "h1 h1 h1"
    "subtitulo frente numeros "
    "texto frente numeros"
    "botao frente tras"
    "interno interno tras"
  ;
  grid-template-columns: 560px auto 1fr;
  gap: 20px;
}




.lancamentos-grid h1 {
  grid-area: h1;
}

.lancamentos-grid h2 {


  grid-area: subtitulo;
}

.lancamentos-grid p {
  grid-area: texto;
}

.lancamentos-grid .btn {
  grid-area: botao;
  display: block;
  grid-row: 10px;
  align-self: start;



}

.lancamentos-grid .interno {
  object-fit: cover;
  position: relative;

  grid-area: interno;

}

.lancamentos-grid .frente {
  position: relative;

  object-fit: cover;

  grid-area: frente;

}

.lancamentos-grid .tras {
  object-fit: cover;
  position: relative;

  grid-area: tras;

}

.lancamentos-grid .numeros {
  grid-area: numeros;



}

.numeros h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

@media(max-width:1400px) {
  .lancamentos-grid {

    grid-template-areas:
      "h1"
      "subtitulo frente "
      "texto frente"
      "botao frente"
      "interno interno"
    ;
    grid-template-columns: auto auto;

  }

  .lancamentos-grid .tras,
  .lancamentos-grid .numeros,
  .lancamentos-grid .interno,
  .lancamentos-grid .frente {
    width: 100%;
  }


  .lancamentos-grid .frente {
    height: 100%;
  }

  .lancamentos-grid h1 {
    word-break: break-all;
  }

  .lancamentos-grid h2 {
    word-break: break-all;

  }

  .lancamentos-grid p {
    word-break: break-all;
    margin-top: 12px;

  }



}

@media(max-width:1080px) {
  .lancamentos-grid {

    grid-template-areas:
      "h1"
      "subtitulo frente "
      "texto frente"
      "botao frente"
      "interno interno"
    ;
    grid-template-rows: 80px .5fr 1fr auto auto;
    grid-template-columns: auto auto;

  }


  .lancamentos-grid .botao {
    width: 60%;
  }

}

@media(max-width:1000px) {
  .lancamentos-grid {

    grid-template-areas:
    "numeros numeros"
      "h1 h1"
      "subtitulo subtitulo"
      "texto texto"
      "botao botao"
      "interno interno"
    ;
    grid-template-rows: auto .5fr 1fr auto auto;
    grid-template-columns: auto auto;
  }
  .lancamento-bg {
    background-color: #111111;
    padding-top: 12px;
  }
  

  .lancamentos-grid .tras,
  /* .lancamentos-grid .numeros, */
  /* .lancamentos-grid .interno, */
  .lancamentos-grid .frente {
    display: none;
  }

  .lancamentos-grid .numeros {
    opacity: 40%;
    margin-bottom: 20px;

  }
  .lancamento-bg{
    padding: 20px 0;
  }

}


@media(max-width:500px){
  .lancamentos-grid {

    grid-template-areas:
    "numeros numeros"
      "h1 h1"
      "subtitulo subtitulo"
      "texto texto"
      "botao botao"
      "interno interno"
    ;
    grid-template-rows: auto .5fr 1fr auto auto;
    grid-template-columns: auto auto;
    grid-gap: 20px;
  }
}