/* ========== Tipografia ============ */

@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500&family=Cormorant:wght@400;500&display=swap');

/* =========== Global ============ */

@import url('./global/header.css');
@import url('./global/footer.css');
@import url('./global/global.css');

/* ========== Utilidades =========== */

@import url('./utilidades/tipografia.css');
@import url('./utilidades/componentes.css');
@import url('./utilidades/cores.css');
@import url('./utilidades/cabecalho.css');
@import url('./utilidades/formulario.css');


/* ========== Home ============ */

@import url('../css/home/introducao.css');
@import url('../css/home/lancamento.css');
@import url('../css/home/motores.css');
@import url('../css/home/seguros.css');

/* ========== Veiculos ============ */


@import url('./veiculos/veiculos.css');

/* ========== Instalacoes ============ */

@import url('./instalacoes/instalacoes.css');

/* ========== lancamentos ============ */

@import url('./lancamentos/lancamentos.css');

/* ========== motores ============ */

@import url('./motores/motores.css');

/* ========== Seguros ============ */

@import url('./seguros/seguros.css');

/* ========== Oracmento ============ */
@import url('./orcamento/orcamento.css');
