.pixel {
  background: var(--cor-b);
  padding: 20px 0;
}

.pixel .container {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.tema {
  background: var(--cor-rc);
  border-radius: 4px;
  padding: 4px 10px 2px 10px;


}


.logo,
.logo-light {
  width: 320px;

}
.logo-light,
.by-light {
  display: none;
}

body[data-theme="t-light"] .logo,
body[data-theme="t-light"] .by{
  display: none;
}


body[data-theme="t-light"] .logo-light,
body[data-theme="t-light"] .by-light{
  display: flex;
}


.by img {
  width: 100%;
}

.liga-desliga_checkbox {
  overflow: hidden;
  position: absolute;
  left: -9999px;
}

.liga-desliga_botao {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  cursor: pointer;

}

.liga-desliga_botao::before,
.liga-desliga_botao::after {
  content: "";
  transition: all 0.3s;

}

.liga-desliga_botao::before {
  display: inline-block;
  width: 2em;
  height: 1em;
  background: #000;
  border-radius: 1em;

}

.liga-desliga_botao::after {
  position: absolute;
  top: 0.025em;
  left: 0.025em;
  width: 0.95em;
  height: 0.95em;
  background: #c2c2c2;
  border-radius: 100%;
}


.liga-desliga_checkbox:checked+.liga-desliga_botao::before {
  background: #fff;
}

.liga-desliga_checkbox:checked+.liga-desliga_botao::after {
  left: 1.025em;
}

/* Esconder liga/desliga */


@media(max-width:300px) {

  .liga-desliga_botao::before,
  .liga-desliga_botao::after {
    content: "";
    transition: all 0.3s;
    display: none;

  }

  .liga-desliga_botao::before {
    display: inline-block;
    width: 1em;
    height: 1em;
    background: #000;
    border-radius: 1em;

  }

  .liga-desliga_botao::after {

    background: #000;

  }
  .tema {
    background: var(--cor-rc);
    border-radius: 4px;
    padding: 4px 10px 2px 10px;
  
  
  }
}












/* Menu Interativo */
#header {
  background: var(--cor-rc);
}

#menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;

}

#menu a {
  display: block;
  padding: 16px 30px;



}

#menu a:hover {
  background: var(--cor-b);

}

.lista-itens {
  display: flex;

}


.pesquisar input {
  border: 1px solid transparent;
  padding: 10px;
  border-radius: 10px;
  max-width: 120px;
}

.pesquisar input:focus {
  border: 1px solid #2AF598;
  outline: 0;

  box-shadow: 0px 2px 4px #06A9F1
}

#buscar {
  background: url("../../assets/img/icons/buscar.svg") no-repeat right / 1.3em;
  padding-left: 1.3em;
  background-color: #fff;
  background-origin: content-box;

}
#buscar-header {
  background: url("../../assets/img/icons/buscar.svg") no-repeat right / 1.3em;
  padding-left: 1.3em;
  background-color: #fff;
  background-origin: content-box;

}



@media(max-width:700px) {
  .pixel .by {
    display: none;
  }


}

/* Mobile */
#btn-mobile {
  display: none;
  padding: 20px;
  position: relative;
  cursor: pointer;
}


@media(max-width:900px) {
  .logo img {
    width: 160px;
  }

  #btn-mobile {
    display: flex;
    background: none;
    border: none;
    align-items: center;
    gap: .5rem;
  }

  #menu {
    background: var(--cor-b);
    width: 100%;
    height: calc(100vh - 77px);
    position: relative;
    height: 0;
    border-bottom: 1px solid #000;


  }

  .pesquisar {
    display: none;
  }


  #nav.active #menu {
    height: calc(100vh - 142px);

  }

  #nav.active #menu,
  #nav.active #menu .lista-itens {
    visibility: visible;
    overflow-y: auto;

  }

  #menu,
  #menu .lista-itens {
    display: block;
    position: absolute;
    left: 0;
    visibility: hidden;
    overflow-y: hidden;
    transition: .6s;


  }


  /* Hamburger Icon */
  #hamburger {
    color: #fff;
    display: block;
    width: 20px;
    border-top: 2px solid;
  }

  #hamburger::after,
  #hamburger::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: .3s;
    position: relative;
  }

  #nav.active #hamburger {
    border-top: transparent;
  }

  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }

  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }




}

@media(max-width:320px) {
  .logo img {
    width: 120px;
  }
}