.botao {
  display: inline-block;
  padding: 16px 32px;
  background: linear-gradient(var(--cor-p1), var(--cor-p1) );
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: var(--cor-p3);
  font: 600 1.125rem/1.35 "Cabin", sans-serif;
  max-width: max-content;
  border: none;
  cursor: pointer;
}
.botao-borda {
  display: inline-block;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: var(--cor-10);
  font: 600 1.125rem/1.35 "Cabin", sans-serif;
  max-width: max-content;
  border: none;
  cursor: pointer;
  border: 1px solid var(--cor-10);
}

.botao-azul{
  display: inline-block;
  padding: 16px 32px;
  background: linear-gradient(var(--cor-a1), var(--cor-a3) );
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: var(--cor-a4);
  font: 600 1.125rem/1.35 "Cabin", sans-serif;
  max-width: max-content;
  border: none;
  cursor: pointer;
}

.botao-borda-w{
  display: inline-block;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: var(--cor-2);
  font: 600 1.125rem/1.35 "Cabin", sans-serif;
  max-width: max-content;
  border: none;
  cursor: pointer;
  border: 1px solid var(--cor-2);
}
.azul {
  color:#0066FF;
}


@media (max-width: 600px) {
  .botao {
    padding: 12px 16px;
    font-size: 1rem;
  }

  .botao-borda {
    padding: 12px 16px;
    font-size: 1rem;
  }

  .botao-borda-w {
    padding: 12px 16px;
    font-size: 1rem;
  }
  .botao-azul {
    padding: 12px 16px;
    font-size: 1rem;
  }
}
@media(max-width:500px){
  .botao-borda-w{
    display: none;
  }
}