:root{
  --cor-0:#FFFFFF;
  --cor-1:#F7F7F7;
  --cor-2:#EDEDED;
  --cor-3:#DEDEDE;
  --cor-4:#CCCCCC;
  --cor-5:#B2B2B2;
  --cor-6:#9C9C9C;
  --cor-7:#717171;
  --cor-8:#595959;
  --cor-9:#404040;
  --cor-10:#2E2E2E;
  --cor-11:#111111;
  --cor-12:#000000;
  --cor-p1:#FF8A00;
  --cor-p2:#867261;
  --cor-p3:#492F04;
  ;

  --cor-a1:#0066FF;
  --cor-a2:#0047FF;
  --cor-a3:#0084FF;
  --cor-a4:#19354F;
}


.cor-0 {
  color: var(--cor-0);
}
.cor-1 {
  color: var(--cor-1);
}
.cor-2 {
  color: var(--cor-2);
}
.cor-3 {
  color: var(--cor-3);
}
.cor-4 {
  color: var(--cor-4);
}
.cor-5 {
  color: var(--cor-5);
}
.cor-6 {
  color: var(--cor-6);
}
.cor-7 {
  color: var(--cor-7);
}
.cor-8 {
  color: var(--cor-8);
}
.cor-9 {
  color: var(--cor-9);
}
.cor-10 {
  color: var(--cor-10);
}
.cor-11 {
  color: var(--cor-11);
}
.cor-12 {
  color: var(--cor-12);
}



.cor-p1 {
  color: var(--cor-p1);
}
.cor-p2 {
  color: var(--cor-p2);
}
.cor-p3 {
  color: var(--cor-p3);
}

.cor-a1 {
  color: var(--cor-a1);
}
.cor-a2 {
  color: var(--cor-a2);
}
.cor-a3 {
  color: var(--cor-a3);
}
.cor-a4 {
  color: var(--cor-a4);
}

