#promocao {
  background: linear-gradient(#111111 400px, #f7f7f7 0px);
}

.header-cor{
  background-color: #000;
}
.promocao{
  
  box-sizing:border-box;
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 120px;
}

.h1-bg{
  padding: 40px 0;
}
.h1-bg h1{
  font-size: 4rem
}
.promocao-frase{
  border-radius: 4px;
  background-color: #fafafa;
  filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.25));
  padding: 40px;
}
.promocao-frase h1{
  text-align: center;
  font-size: 3rem;
  padding-bottom:40px;
  text-transform: uppercase;
  

}
.promocao-frase h1{
  color: #3d3d3a;
}

.promocao-frase p{
  color:#555555 ;
  padding-bottom: 40px;
}

.flex-promo h1{
  margin-right: 20px;
}

.flex-promo{
  display: flex;
  justify-content: center;
  align-items:baseline;
}
.icon-promo img{
  width: 50px;
}


@media(max-width:600px){
  .promocao-frase h1{
    font-size: 2.2rem;
    text-align: left;
  }
  .promocao-frase p {
    font-size: 1.8rem;
  }

  .h1-bg h1{
    font-size: 2.6rem
  }
  .h1-bg{
    padding-top: 0;
   
  }
}
@media(max-width:500px){
  .promocao-frase h1{
    font-size: 2rem;
    padding-bottom: 20px;
  }
}
@media(max-width:400px){
  .promocao-frase h1{
    font-size: 1.6rem;
  }
  .promocao-frase p{
    font-size: 1.4rem;
  }
  .h1-bg{
    padding-top: 10px;
    padding-bottom: 40px;
  }
  .h1-bg h1{
    font-size: 2rem;
  }
  .agendar-formulario{
    padding: 20px;
  }
  .agendar{
    margin-bottom: 80px;
  }
}
