.sobre-bg{
  background-color: #f2f2f2;
  padding: 160px 0;
}

.sobre h1{
  color: #292929;
  padding-bottom:40px;
  text-transform: uppercase;
}
.sobre p {
  color: #5A5A5A;
  
}
.sobre{
  
  display:grid;
  grid-template-columns: 1fr 1fr;
}
.apoiamos{
  text-align: right;
}

@media(max-width:900px){
  .sobre-bg{
    padding: 80px 0;
  } 
  .sobre h1{
    padding-bottom: 20px;
    font-size: 3rem;
    text-transform: none;
  }
  .sobre p {

    font-size: 2rem;
    
    
  }
}
@media(max-width:700px){
  
  .sobre{
    grid-template-columns: 1fr;
  }
  .sobre .apoiamos h1 {
    padding-top: 60px;
    font-size: 2.4rem;
    padding-bottom: 20px;
  }
  .sobre p{
    font-size: 1.7rem;
  }
}
@media(max-width:500px){
  
  
  .sobre h1{
    font-size: 2.5rem ;
  }
  .sobre p {
    font-size: 1.4rem;
    word-break: break-all;
  }
}
@media(max-width:300px){
  .sobre .apoiamos {
    text-align: left;
  }
}