body,
ul {
  margin: 0px;
  padding: 0px;
  color: white;
  font-family: sans-serif;
}

.background-container {
  max-width: 1200px;
}

#header {
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  height: 70px;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  padding-left: 20px;
  padding-right: 20px;


}

#menu {

  display: flex;
  list-style: none;
  gap: 0 40px;
}

#menu a {
  display: block;
  padding: 0.5rem;
  color: #e7e7e7;
  font-weight: 500;
}

#btn-mobile {
  display: none;
}

a {
  color: black;
  text-decoration: none;

}

.header-bg {
  background-image: url('../../assets/img/introducao/fundo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;


}

.hamburger {
  border-top: 2px solid;
  width: 20px;
  color: #fff;
  display: none;
}

.hamburger::after,
.hamburger::before {
  content: '';
  display: block;
  width: 20px;
  height: 2px;
  background: currentColor;
  margin-top: 5px;
  transition: 0.3s;
  position: relative;
}

#nav li a {
  display: inline-block;
  padding: 16px 0px;
  position: relative;
}

#nav li a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background: #EDDE54;
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

#nav li a:hover::after {
  width: 100%;
}


.botao {
  display: grid;
  grid-template-columns: auto;
  margin: 40vh 0px;
  justify-content: center;
  font-size: 1.125rem;
  text-transform: uppercase;
}

.botao a {
  color: #fff;
}

/* @media(min-width:2000px){
  .header-bg{
    background-image: url('/assets/img/introducao/fundo3x.jpg');
    

  }
} */

@media(max-width:500px) {
  .header-bg {
    background-image: url('../../assets/img/introducao/mobilefundo.jpg');
    
    

  }

  .botao {
    display: grid;
    grid-template-columns: auto;
    margin: 40vh 0px;
    justify-content: center;
    font-size: 1rem;
    text-transform: uppercase;

  }
}

@media(max-width:290px) {
  .botao-1 {
    font-size: 0.8rem;
  }
}

@media(max-width:220px) {
  .botao-1 {
    font-size: 0.7rem;
  }

  .seta {
    width: 10px;
  }
}


/* Background Mobile */

@media (max-width:600px) {
  .header-bg {

    height: 90vh;


  }

  .botao {
    display: grid;
    grid-template-columns: auto;
    margin: 34vh 0px;
    justify-content: center;
    font-size: 1rem;
    text-transform: uppercase;

  }

}

/* Menu Mobile */

@media (max-width: 800px) {


  #header {
    padding-left: 0;
    padding-right: 0;

    padding-top: 0px;
    margin: 0 20px;

  }

  #menu {
    display: block;
    position: absolute;
    width: 100vw;
    top: 70px;
    right: 0px;
    background: #0f0f0f;
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }

  #nav.active #menu {
    height: calc(100vh - 40px);
    visibility: visible;
    overflow-y: auto;
  }

  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.05);
    margin: 0 28px;
  }

  #nav li a {
    display: flex;

  }

  #nav li a:after {
    content: "";
    display: none;
    height: 2px;
    width: 0px;
    background: #EDDE54;
    margin-top: 4px;
    transition: 0.3s;
    position: absolute;
  }


  #btn-mobile {
    display: flex;
    margin-left: 8px;
    padding: 0.5rem 0rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }

  #hamburger {
    border-top: 2px solid #fff;
    width: 20px;
  }

  #hamburger::after,
  #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: #fff;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }

  #nav.active #hamburger {
    border-top-color: transparent;
  }

  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }

  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}

@media(max-width:500px) {
  #logo {
    width: 150px;
  }
}