.container-geral{
  margin-left: 20px;
  margin-right: 20px;
}

.container{
  box-sizing:border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.grid-3{
  display: grid;
  grid-template-columns:repeat(3, 1fr)
}

.botao-1{
  margin-top: 0px;
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #D2C01E;
  border-radius: 4px;
}
#botao{
  display: flex;
  padding: 15px 40px;
  background:linear-gradient(#F8E540 , #E8D213);
  border-radius: 4px;
  color: #2b2201;
  margin: 10px 0;
  max-width: fit-content;
  border: 0;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;

  
}

#botao:hover{
  background:linear-gradient(#ebd93b , #ddc915);
  cursor: pointer;
}

.seta{
  margin-left: 10px;

}
.cor-ponto{
  color: #EDDE54;
}

@media (max-width:400px){
  .bt-estilo{
    display:grid;
  }
}

