.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.form label {
  display: block;
  font: 400 1rem/1.5 "Sarabun", sans-serif;
  margin-bottom: 4px;
}

.form .col-2 {
  grid-column: span 2;
}

.form input[type="text"],
.form input[type="email"],
.form textarea {
  font: 400 1rem/1.5 "Livvic", sans-serif;
  background: #f1f1f1;
  border: 1px solid #d1d1d1;
  padding: 12px;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.form input[type="text"]:focus,
.form input[type="email"]:focus,
.form textarea:focus {
  outline: none;
  border-color: #F8E540;
  background: #ffffff;
  box-shadow: 0 0 0 2px #fea;
}

@media (max-width: 600px) {
  .form {
    grid-template-columns: 1fr;
  }
  .form .col-2 {
    grid-column: 1;
  }
}
