#aprender {
  padding: 100px 0;
  background: var(--cor-b);
}

#interesse {
  margin-bottom: 60px;
}

#interesse h1 {
  margin-bottom: 32px;
  max-width: 28ch;
  text-align: center;

}

#interesse h2 {
  margin-bottom: 20px;
  max-width: 60ch;
  text-align: left;
}

.icones-explicacao .icone {
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 7fr;
  gap: 20px;
  background: var(--cor-9);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 40px;
  
}

.icones-explicacao .icone .icone-linguagem {
  padding: 100px ;
  border-radius: 10px;
  text-align: center;
  width: auto;
  

}
.icones-explicacao .icone .i-1{
  background: var(--cor-a);
  color: #fff;

}
.icones-explicacao .icone .i-2{
  background: var(--cor-rc);
  color: #fff;

}
.icones-explicacao .icone .i-3{
  background: #000;
  color: #2AF598;

}

.icones-explicacao .icone h4 {
  color: var(--cor-5);
}






@media(max-width:800px) {
  .icones-explicacao .icone {
    grid-template-columns: 1fr;

  }

  .icones-explicacao .icone h3 {
    text-align: center;
  }
}