.code {
  background:var(--cor-11);
  max-width: 900px; 
  color: var(--cor-1);
  margin: 0 auto;
  text-align: left;
  padding: 20px;
  margin-bottom: 20px;

}


.code {
  display: block;
}

.tag {
  color: var(--cor-v);

}

.tag-r {
  color: var(--cor-r);
}

.tag-c{
  margin-left: 32px;
  margin-bottom: 0px;
}

.tag-especial{
  display: block;

}

.tag-especial.e-1 {
  margin-left: 8px;
}
.tag-especial.e-2 {
  margin-left: 12px;
}
.tag-especial.e-3 {
  margin-left: 16px;
}

.nota {
  color: var(--cor-4)!important;
}

.espaco {
  margin-bottom: 32px;
}