.instalacoes-flex {
  display: grid;
  padding: 40px 0px;

}

.instalacoes-flex span {
  margin-bottom: 20px;
}

.instalacoes-flex h1 {
  margin-bottom: 32px;
  word-break: break-all;
}

.instalacoes-flex h1::before {
  content: "";
  width: 6px;
  height: 30px;
  bottom: 4px;
  margin-right: 8px;
  position: relative;
  display: inline-block;
  background-color: var(--cor-p1);
}

.instalacoes-flex h2 {
  margin-bottom: 20px;
  margin-left: 20px;
}

.instalacoes-flex img {
  width: 100%;
  margin-bottom: 20px;
}




@media(max-width:600px) {
  .instalacoes-flex h1::before {
    width: 4px;
    height: 20px;
    bottom: 4px;
    margin-right: 8px;
  }
}

@media(max-width:500px) {

  .instalacoes-flex h1 {
    margin-bottom: 20px;
    word-break: break-all;
  }

  .instalacoes-flex h1::before {
    height: 16px;

  }

}