.veiculos-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 120px 0;
  gap: 20px;
  padding: 20px 20px 60px 20px;
}

.veiculos-bg .v-escolha {
  padding: 20px;
}

.veiculos-grid img {
  width: 100%;
}

.veiculos-grid h1 {
  margin-bottom: 16px;
  max-width: max-content;
  font-weight: 500;
}

.veiculos-grid h1::after {
  content: "";
  display: flex;
  position: reltive;
  margin-top: 4px;
  width: 20px;
  height: 4px;
  background: var(--cor-p1)
}

.veiculos-grid p {
  margin-bottom: 32px;
}


@media(max-width:900px) {
  .veiculos-grid {
    grid-template-columns: 1fr 1fr;
  }

  .veiculos-grid p {
    margin-bottom: 20px;
  }

  .veiculos-grid .botao {
    display: grid;
    width: 60%;

  }


}

@media(max-width:550px) {
  .veiculos-grid {
    grid-template-columns: 1fr;
    padding: 0px 20px 60px 20px;

  }

  .seu-veiculo {
    padding: 20px 20px;
    display: flex;

  }
}


/* Veiculos-main */

.veiculos-main-bg {
  background: var(--cor-11);
}

.veiculo-main-grid {
  display: grid;
  grid-template-columns: 6fr 5fr;
  justify-content: center;
  gap: 40px;
  padding-bottom: 120px;
  padding-top: 120px;
  align-items: center;
}

.ficha-veiculo-bg {
  display: none;
}

.imagem-carro img {
  width: 100%;
}

.barra-veiculo {
  background-color: var(--cor-10);
  display: flex;
  width: 50%;
  padding: 20px;
  cursor: pointer;
  margin: 0 auto;

}

@keyframes todown {
  0% {
    top: 0px;
  }

  50% {
    top: 10px
  }

  100% {
    top: 0px
  }
}

@keyframes downbtn {
  to {

    height: 100%;
  }

  from {
    height: 0;
  }
}





.barra-veiculo img {
  transform: rotate(180deg);
  animation: 2s todown infinite;
  margin: 0 auto;
  width: 50px;
  position: relative;
}

.barra-veiculo.ativa img {
  transform: rotate(0deg);
}

.itens-veiculo h1 {
  margin-bottom: 32px;
}

.itens-veiculo ul li {
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}

.itens-veiculo ul {
  margin-bottom: 20px;
}

.itens-veiculo h2 {
  margin-bottom: 20px;
}




.botao-veiculo {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  animation: 1s downbtn forwards;
}

.botao-veiculo span {
  margin-left: 20px;
}

.ficha-veiculo-bg {
  grid-row: 2;
  grid-column: span 2;
  visibility: hidden;
  overflow: hidden;
}

.ficha-veiculo-bg.ativo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  width: 100%;
  animation: 1s downbtn forwards;
  visibility: visible;
  overflow-y: hidden;
  box-sizing: border-box;

}

.ficha-veiculo {
  padding: 20px;
  background-color: var(--cor-12);
  animation: 1s downbtn forwards;
  gap: 40px;
  grid-column: span 2;

}


.ficha-veiculo .lista-itens li {
  display: flex;
  padding: 10px;
  gap: 20px;
  justify-content: space-between;
  border-bottom: 1px solid var(--cor-11);
}

.itens-veiculo h1::before {
  content: "";
  width: 6px;
  height: 20px;
  bottom: 4px;
  margin-right: 8px;
  position: relative;
  display: inline-block;
  background-color: var(--cor-p1);
}


@media(max-width:1200px) {


  .veiculo-main-grid {

    grid-template-columns: 6fr 4fr;

  }


}

@media(max-width:1000px) {
  .veiculo-main-grid {
    grid-template-columns: auto;
    padding-bottom: 60px;
    padding-top: 60px;
    gap: 20px 0px;

  }

  .imagem-carro {
    grid-row: 1;
    grid-column: span 2;
  }


  .barra-veiculo {
    grid-column: 1/-1;
    padding: 20px;
    background-color: var(--cor-9);
    display: flex;
    justify-content: center;
    width: 80%;
    border-radius: 5px 5px 0px 0px;
    margin: 0 auto;
    cursor: pointer;
  }

  .ficha-veiculo-bg {
    grid-row: 3;
    grid-column: span 2;
    visibility: hidden;
    overflow: hidden;
  }




  .barra-veiculo img {
    width: 26px;

  }



}

@media(max-width:600px) {
  .itens-veiculo h1::before {
    width: 4px;
    height: 20px;
    bottom: 4px;
    margin-right: 8px;
  }
}

@media(max-width:500px) {


  .itens-veiculo h1::before {
    height: 16px;
  }

}