.footer-bg {
  background-color: var(--cor-12);
}
.footer-logo {
  width: 200px;
}

.footer-grid{
  padding: 60px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  padding: 60px 20px;
  gap: 20px;
}
.footer-grid h1{
  margin-bottom: 20px;
}


.footer-grid h2{
  margin-bottom: 10px;
}

.footer-logo {
  margin-bottom: 60px;

}
.footer-sociais{
  display: flex;
  gap: 20px;
}

.footer-bg .copy {
  display: flex;
  margin: 0 auto;
  padding:20px;
  justify-content: center;
}

.line{
  display: flex;
  border: 1px solid var(--cor-11);
  
}
.footer-grid a li {
  padding: 10px;
  margin-bottom: 2px;

}
@media(max-width:800px){
  .footer-grid{
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width:500px){
  .footer-grid{
    grid-template-columns: 1fr;
    padding: 40px 20px;
  }

  .footer-logo{
    margin-bottom: 20px;
    width: 120px;
  }
  .footer-sociais img{
    width:28px;
  }
  
 
}