ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  color: #000;
  text-decoration: none;
  font-family: Cabin;
  font-size: 1.125rem;
  

}

.pixel{
  background-color: #000;
  color: #fff;
  padding: 10px;
  font-family: Cabin;
  display: flex;
  margin: 0 auto;
  justify-items: center;
  gap: 0 20px;
  justify-content: center;
  font-weight: 500;
  
}
.frete{
  width: 26px;
}
#header-bg{
  background: #FFFFFF;
  border-bottom: 1px solid #c2c2c2;
}
#menu li a{
  color: #000;
}
#menu li a::before{
  content: '';
  top: 59px;
  display: flex;
  width:0%;
  height: 6px;
  background-color: var(--cor-p1);
  position: relative;
  transition: .3s;
}

#menu li::after{
  content: '';
  position: relative;
  display: block;
  width: 2px;
  left: -5px;
  height: 16px;
  bottom: 34px;
  background-color: #646464;

}
#menu li:nth-child(2):after{
  display: none;

}
#menu li:first-child::after{
  display: none;
}


#menu li a:hover::before{
  width: 100%;
  
}
#logo img{
  width: 150px;
}
#header{
  box-sizing: border-box;
  height: 70px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #FFFFFF;
  padding: 42px 20px;
}

#menu{
  display: flex;
  gap: .5rem;
}

#menu a{
  display: block;
  padding: 1rem 1rem;

}


#btn-mobile{
  display: none;
}

#menu {
  display: flex;

  
}
#quem-somos a{
  display: flex;
  color: #000;
  padding: 10px;
  border: 1px solid var(--cor-12);
}
.quem-somos {
  display: none;
}

@media(max-width:900px){
  
  #menu{
    display: block;
    position: absolute;
    top: 124px;
    left: 0px;
    background: #f8f8f8;
    width: 0px;
    z-index: 1000;
    height: calc(100vh - 70px);
    transition: .6s;
    visibility: hidden;
    overflow-x: hidden;
    box-shadow: 0px 0px 10px 5px  rgba(0, 0, 0, 0.068) ;
  }
  #quem-somos{
    display: none;
  }
  .quem-somos {
    display: initial;
  }
  
  #nav.active #menu{

    visibility: visible;
    overflow-x: auto;
    width: 70vw;
    
  }
  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom:  2px solid rgba(0, 0, 0, 0.068) ;
  }
  #menu li a{
    color: #000;
  }

  #menu li a::before{
    display: none;
  }
  #btn-mobile{
    display: flex;
    padding: .5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: .5rem;
  }
  #hamburger{
    display: block;
    color: #000;
    width: 20px;
    border-top: 2px solid;
  }
  #hamburger::after, #hamburger::before{
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background-color: currentColor;
    margin-top: 5px;
    transition: .3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color:transparent ;  
  }
  #nav.active #hamburger::before{
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after{
    transform: rotate(-135deg);
    top: -7px;
  }
}